html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

header, main, footer {
  min-width: 700px;
  /*border: 1px solid red;*/
}

header {
  display: block;
  height: 100px;
  background-color: #2878ca;
}

div.page-wrap {
  display: block;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -90px;

}

div.page-wrap:after {
  content: "";
  display: block;
}
footer, div.page-wrap:after {
  height: 90px; 
}
footer {
  background: #404040;
  padding: 5px;
}

footer p {
  color: #ababab;
  margin: 0.5em;
  text-align: center;
}

footer p.promotion {
  font-size: 1em;
}


footer p.promotion a { color: #dadada; }
footer p.promotion a:visited { color: #dadada; }


footer p.disclaimer, footer p.copyright {
  font-size: 0.75em;
}

div.steps {
  width: 600px;
  margin: 0 auto 40px;
  text-align: center;
  border-top: 1px solid #d9d9d9;
}

div.steps p {
  margin-top: 0;
  font-size: 1.2em;
  color: #363636;
}

div.step {
  background-color: #f4f4f4;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 30px;
}

span.spinner {
  position: relative;
  visibility: hidden;
  font-size: 24px;
  top: 3px;
  left: 28px;
  margin-left: -24px;
}

span#username-status i.fa-spinner { color: #444; }
span#username-status i.fa-check { color: green; }
span#username-status i.fa-times { color: red; }

select#start-year {
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  text-align: center;
  line-height: 100px;
  color: white;
}

h2 {
  font-weight: 400;
  text-align: center;
  margin: 40px 0;
}

input#username {
  padding: 5px 8px;
}

button#download {
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color:#74ad5a;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  padding:8px 24px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #92b879;*/
}

button#download:not(.disabled):hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color:#68a54b;
}

button#download:active {
  position:relative;
  top:2px;
}

button#download.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
